<div class="reset-password-container">
  <div class="videoflix-logo-container-rp">
    <span class="videoflix-logo">Videoflix</span>
  </div>
  <div class="forgot-password-container-position">
    <div class="login-register-container width-700 width-mobile">
      <div class="email-sent-success-container" *ngIf="passwordResetted">
        <span>Password reset successful</span>
      </div>
      <h2>Reset your password</h2>
      <p class="paragraph-info">Change your account password</p>
      <form class="login-form mt-16">
        <input
          type="text"
          name="passwordOne"
          required
          placeholder="New password"
          [(ngModel)]="passwordOne"
        />
        <input
          type="text"
          name="passwordTwo"
          required
          placeholder="Confirm password"
          [(ngModel)]="passwordTwo"
        />
        <div class="forgot-my-password-error-container">
          <span id="fmp-error-message" #fmpErrorMessage></span>
        </div>
        <button
          class="red-button-style width-200 mt-8"
          (click)="resetPassword()"
        >
          Continue
        </button>
      </form>
    </div>
  </div>
</div>
