* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.d-none {
  display: none !important;
}

.width-700 {
  width: 700px !important;
}

.width-200 {
  width: 200px !important;
}

.width-150 {
  width: 150px !important;
}

.mt-32 {
  margin-top: 32px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-8 {
  margin-top: 8px;
}

//  Login, Register Duplicates

.login-register-container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 500px;
  height: 550px;
  background-color: #313131;
  border-radius: 30px;
 h2 {
  font-size: 48px;
  color: white;
  margin: 0 16px 16px 16px;
 }
}

.login-form {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  input {
    height: 50px;
    width: 350px;
    border-radius: 8px;
    border-style: unset;
    padding: 16px;
    font-size: 18px;
    color: white;
    background-color: #2a2a2a;
    &::placeholder {
      font-size: 18px;
      color: #757575;
    }
    &:focus {
      outline: none;
    }
  }
}

.red-button-style {
  color: white;
    height: 50px;
    width: 100px;
    border-style: unset;
    border-radius: 8px;
    background-color: #E50914;
    cursor: pointer;
    font-size: 18px;
    transition: 0.1s ease-in-out;
    &:hover {
      border: 1px solid white !important;
    }
}

.show-error-message {
  font-size: 16px;
  color: #E50914;
  max-width: 350px;
  text-align: center;
}

.videoflix-logo {
  font-size: 32px;
  color: #E50914;
  cursor: pointer;
}

@media(max-width: 915px){
  .videoflix-logo {
    font-size: 24px;
  }
}

@media(max-width: 800px){
  .width-mobile {
    width: 500px !important;
  }
  .login-register-container {
    h2 {
      font-size: 40px !important;
      margin-bottom: 0;
    }
  }
}


@media(max-width: 595px){
  .login-register-container {
    padding: 20px;
    height: 450px;
    width: 425px;
  }
  .width-mobile {
    width: 425px !important;
  }
}

@media(max-width: 450px){
  .login-register-container {
    width: 350px;
    padding: 8px !important;
    input {
      width: 250px !important;
    }
    h2 {
      margin-top: 15px;
    }
  }
  .width-mobile {
    width: 350px !important;
  }
  .login-form {
    margin-top: 16px;
  }
  .width-mobile-button {
    width: 80px !important;
  }
}

@media(max-width: 380px){
  .login-register-container {
    width: 300px;
    h2 {
      font-size: 32px !important;
    }
  }
  .width-mobile {
    width: 300px !important;
  }
}
